body {
    font-size: 0px; /* Това го правиш за да ти нулира padding-и и margin-и ако не ползваш reset.css */
}

.hero {
    position: relative; /* Това го правиш за да може после да кажеш на останалите контейнери да са absolute и да ги позиционираш върху снимката */
    height: 100vh; /* Това го правиш толкова голямо колкото искаш да заема този контейнер от екрана*/
}

.hero .hero__img {
    width: 100%; /* Това го правиш толкова процента, колкото искаш да заема снимката по ширината на екрана */
    height: 100%; /* Това го правиш толкова процента, колкото искаш да заема снимката по височина на екрана */
    object-fit: cover;
}

/* При тази стилизация снимката ще ти заема цялото пространство от видимата ти част на екрана и ще е респонсив */

.hero .hero__overlay {  /* Този слой се слага ако искаш да затъмниш снимката за да може да ти изпъкне текста */
    position: absolute; 
    width: 100%; /* При тези параметри на width и height този контейнер ще застане иацяло над снимката */
    height: 100%;
    top: 0px; 
    left: 0px;
    background-color: black;
    opacity: 0.3; /* С този параметър, контейнера ще бъде с 0,3 прозрачност. Така ще се затъмни напрактика снимката без да се налага да се обработва самият img */
}

.hero .wrapper {
    position: absolute;
    top: 50%; /* top и left се задават на 50% ако искаш този контейнер да е в средата на контейнера-section */
    left: 50%;
    text-align: center;
}

.hero .hero__title {
    font-size: 3rem;
    color: white;
    margin: 0px; 
    line-height: 1; /* margin-a и line-height-a се задават така за да сме сигурни че около контейнера с тайтъла няма да има излишно пространство */
    transform: translate(-50%, -50%); /* Това пропърти ще ти върне контейнера title с 50% по хоризонтала и 50% по вертикала за да застане абсолютно в средата */
    margin-bottom: 16px; /* Това се задава за да има отстояние между title-a и subtitle-a */
}

.hero__subtitle {
    font-size: 2rem;
    color: white;
    margin: 0px;
    line-height: 1;
}