* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    position: relative;
}

.card {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 38vh;
    display: flex;
    width: 20vw;
    height: 16vh;
    flex-wrap: wrap;
    padding: 18px 20px;
    border-radius: 6px;
}

span {
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 600;
}